* {
  // outline: 1px solid red;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
.container {
  width: 100%;
}
.row {
  display: flex;
  width: 100%;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}