.header {
  border-radius: 16px;
  padding: 24px;
  background-color: #f7f7f7;
  height: 100vh;
  width: 300px;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  .container {
    height: 100%;
    .row {
      flex-direction: column;
      height: 100%;
      gap: 15px;
      .logo {
        padding: 24px 0;
        cursor: pointer;
        a {
          display: flex;
          gap: 10px;
          align-items: center;
          img {
            object-fit: contain;
            width: 58px;
            height: 58px;
          }
          span {
            text-wrap: nowrap;
            font-size: 18px;
          }
        }
      }
      .pagesAndSettingBox {
        padding: 24px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 15px;
        .navBar {
          display: flex;
          gap: 20px;
          flex-direction: column;
          select {
            cursor: pointer;
          }
        }
        .settingsAndAdminProfile {
          display: flex;
          flex-direction: column;
          gap: 10px;
           
          .settings {
            cursor: pointer;
                 padding: 20px;
          }
          .userProfile {
            background-color: #243c7b;
            display: flex;
            gap: 10px;
            padding: 20px;
            border-radius: 12px;
            color: white;
            align-items: center;
            .adminImage {
              width: 38px;
              height: 38px;
              border-radius: 100%;
              overflow: hidden;
            }
            .adminInfos {
              text-wrap: nowrap;
            }
          }
        }
      }
    }
  }
}
