.addNewPost {
  position: fixed;
  z-index: 15000;
  width: 50%;
  height: 90%;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  background-color: white;
  background-color: black;
  color: white;
  .container {
    .row {
    }
  }
}
