.newsAndAnnouncements {
  padding: 30px;
  .isOpened {
    .overLay {
      background-color: black;
      opacity: 0.5;
      position: fixed;
      z-index: 13000;
      width: 100%;
      height: 100%;
      inset: 0;
    }
  }
  .container {
    .row {
      flex-direction: column;
      gap: 20px;
      .titleAndButtonBox {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title {
          h2 {
            font-size: 24px;
            margin-bottom: 10px;
          }
        }
        .button {
          background-color: #243c7b;
          border-radius: 30px;
          cursor: pointer;
          color: white;
          display: flex;
          align-items: center;
          gap: 10px;
          padding: 8px 12px;
          .add {
            background-color: #3d5db2;
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            border-radius: 100%;
          }
        }
      }
      .dropDownMenus {
        display: flex;
        gap: 20px;
      }
      .newsBox {
        table,
        thead,
        tbody,
        tr,
        th,
        td {
          border: 1px solid black;
          padding: 5px;
          background-color: #fcfcfc;
        }
        table {
          tbody {
            tr {
              .tableImage {
                border-radius: 30px;
                width: 150px;
                height: 100px;
                overflow: hidden;
              }
            }
          }
        }
      }
    }
  }
}
